

.work {
  display: grid;
  gap: 20px 20px;
  text-align: center;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "position position status"
    "company location date";
}

#position {
  text-align: left;
  grid-area: position;
}

#company {
  text-align: left;
  grid-area: company;
}

#status {
  grid-area: status;
}

#location {
  grid-area: location;
}



#date {
  grid-area: date;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px dashed var(--clr-indigo);
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-radius: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--clr-light);
  border-radius: 10px;
  overflow: hidden;
}

.project p, h2 {
  padding: 20px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.links img {
  width: 30px;
}


.preview{
  display: flex;
  align-items: center;
  gap: 10px;
}

.github{
  display: flex;
  align-items: center;
  gap: 10px;
}

.links a {
  color: var(--clr-slate400);
}

.stack-list {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-bottom: 100px;
}

.stack-list li {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  
}

.stack-list img {
  width: 100px;
}